:root  {

  --CornerSize: 8px;

  --mPageBackBG: #333333;
  --mPageForeBG: #333333; 
  --mMainText: #B8B8B8;
  --mSecondaryText: #8F8F8F;
  --mAccentColor: #FF7060;

}

.mNavBar{
  background-color: #1b1a1b9d !important;
  color: var(--mMainText) !important;
  filter: drop-shadow(0px 0px 5px #000000b3) !important;
  padding: 2.5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.logo{
  color: var(--mMainText) !important;
  text-decoration: none;
  font-weight: 900;
  font-size: 32px;
  transition: 1s;

}
.logo:hover{
  color: var(--mAccentColor) !important;
  transition: 1s;
}

body {
  margin: 0;
  background-color: var(--mPageBackBG) !important;
  color: var(--mMainText) !important;
}
.mainDisplay{
  background-color: var(--mPageBackBG) !important;
  /*filter: drop-shadow(0px 0px 10px #0000006f) !important;*/
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.216), -10px -10px 10px rgba(177, 177, 177, 0.131);
  border-radius: var(--CornerSize);
  margin-top: 150px;
  padding-left: 25px  !important;
  padding-right: 25px !important;
  padding-top: 25px   !important;
  padding-bottom: 0px !important;
}

.mTab{
  background: linear-gradient(180deg, rgba(59,59,59,1) 19%, rgba(51,51,51,1) 92%, rgba(35,35,35,1) 100%); 
}

.text-justify {
  text-align: justify;
}

.mSmall{
  font-size: 12px !important;
}

input{
  box-shadow: inset 2px 2px 5px #101010a8,inset -3px -3px 7px #ffffff27 !important;
  background-color: #333333 !important;
  border-color: #232323 !important;
  color: var(--mMainText) !important;
}
input::placeholder{
  color:rgb(107, 107, 107) !important;
}

button{
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.216), -5px -5px 5px rgba(177, 177, 177, 0.131);
  background-color: var(--mPageBackBG) !important;
  border-style: none !important;
}
button:active{
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.216), -5px -5px 5px rgba(177, 177, 177, 0.131);
  background-color: var(--mAccentColor) !important;
  border-style: none !important;
}
@keyframes afterDeadlineAnim {
  0% {
      background-color: #f8f9fa;
  }
  20% {
      background-color: #fccd3f;
  }
  40% {
      background-color: #dc3545;
  }
  60% {
      background-color: #2f80f9;
  }
  80% {
      background-color: #20b6c0;
  }
}



.after-deadline {
  animation-name: afterDeadlineAnim; 
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.smaller-text {
  font-size: 0.8rem;
}